<?xml version="1.0"?>
<!--
/**
 * Amadeco PopularSearchTerms Module
 *
 * @category   Amadeco
 * @package    Amadeco_PopularSearchTerms
 * @author     Ilan Parmentier
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <popular_search_terms>
                <enabled>1</enabled>
                <number_of_terms>5</number_of_terms>
                <max_recent_searches>5</max_recent_searches>
                <sort_order>popularity</sort_order>
                <time_period>30</time_period>
            </popular_search_terms>
        </catalog>
    </default>
</config>
