<?xml version="1.0"?>
<!--
/**
 * Amadeco PopularSearchTerms Module
 *
 * @category   Amadeco
 * @package    Amadeco_PopularSearchTerms
 * @author     Ilan Parmentier
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="popular_search_terms" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Popular Search Terms</label>
                <resource>Amadeco_PopularSearchTerms::config</resource>
                    
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Enable or disable the Popular Search Terms widget</comment>
                </field>
                    
                <field id="number_of_terms" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number of Terms</label>
                    <validate>validate-number validate-digits-range digits-range-1-50</validate>
                    <comment>Number of search terms to display (Range: 1-50)</comment>
                </field>

                <field id="max_recent_searches" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Max Recent Searches</label>
                    <validate>validate-number validate-digits-range digits-range-1-10</validate>
                    <comment>Maximum number of recent searches to save in browser history (Range: 1-10)</comment>
                </field>
                    
                <field id="sort_order" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Sort Order</label>
                    <source_model>Amadeco\PopularSearchTerms\Model\Config\Source\SortOrder</source_model>
                    <comment>How to sort the search terms</comment>
                </field>
                    
                <field id="time_period" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Time Period (days)</label>
                    <validate>validate-number validate-greater-than-zero</validate>
                    <comment>Number of days to look back for search terms</comment>
                </field>
            </group>
        </section>
    </system>
</config>
